#root {
  .map-wrapper {
    // visibility: hidden;
    width: 30rem;
    height: 20rem;
    
    svg {
      display: block;
      height: 100%;
      width: 100%;

      .gu:hover {
        stroke: white;
        stroke-width: 1px;
        cursor: pointer;
      }
    }
    
  }
}
